:root {
  --sidebar-width: 12rem;
  --header-height: 56px;
}

.border-rect {
  border-radius: 0 !important;
}

.list-closed:after {
  transform: rotate(-90deg);
  color: rgb(255, 0, 0);
}

.list-open:after {
  color: rgb(6, 255, 27);
}

.allow-rotate:after {
  transition: transform 1.5s cubic-bezier(0.32, -100, 0.7, 100), color 1.5s ease;
}

#sidebar {
  position: fixed;
  overflow: auto;
  top: var(--header-height);
  left: 0;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  transition: margin-left 0.75s ease;
}

#sidebar.active {
  margin-left: calc(0% - var(--sidebar-width));
}

#main-content {
  position: fixed;
  overflow: auto;
  top: var(--header-height);
  left: var(--sidebar-width);
  width: calc(100vw - var(--sidebar-width));
  height: calc(100vh - var(--header-height));
  transition: left 0.75s ease, width 0.75s ease;
}

#main-content.active {
  left: 0;
  width: 100vw;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: calc(0% - var(--sidebar-width));
  }

  #sidebar.active {
    margin-left: 0;
  }
}

.completed-task .task-name {
  text-decoration: line-through;
}

.btn-transition {
  transition: all 0.75s ease;
  overflow: hidden;
}

.btn-transition i {
  transition: max-width 0.75s ease, opacity 0.75s ease;
  display: inline-block;
  overflow: hidden;
  max-width: 0;
  opacity: 0;
}

.btn-transition:hover i {
  max-width: 2rem;
  opacity: 1;
}

.btn-hide .btn {
  opacity: 0;
}

.btn-hide:hover .btn {
  opacity: 1;
}

/* https://www.w3schools.com/cssref/pr_class_cursor.asp */
.alias {
  cursor: alias;
}
.all-scroll {
  cursor: all-scroll;
}
.auto {
  cursor: auto;
}
.cell {
  cursor: cell;
}
.context-menu {
  cursor: context-menu;
}
.col-resize {
  cursor: col-resize;
}
.copy {
  cursor: copy;
}
.crosshair {
  cursor: crosshair;
}
.default {
  cursor: default;
}
.e-resize {
  cursor: e-resize;
}
.ew-resize {
  cursor: ew-resize;
}
.grab {
  cursor: grab;
}
.grabbing {
  cursor: grabbing;
}
.help {
  cursor: help;
}
.move {
  cursor: move;
}
.n-resize {
  cursor: n-resize;
}
.ne-resize {
  cursor: ne-resize;
}
.nesw-resize {
  cursor: nesw-resize;
}
.ns-resize {
  cursor: ns-resize;
}
.nw-resize {
  cursor: nw-resize;
}
.nwse-resize {
  cursor: nwse-resize;
}
.no-drop {
  cursor: no-drop;
}
.none {
  cursor: none;
}
.not-allowed {
  cursor: not-allowed;
}
.pointer {
  cursor: pointer;
}
.progress {
  cursor: progress;
}
.row-resize {
  cursor: row-resize;
}
.s-resize {
  cursor: s-resize;
}
.se-resize {
  cursor: se-resize;
}
.sw-resize {
  cursor: sw-resize;
}
.text {
  cursor: text;
}
.w-resize {
  cursor: w-resize;
}
.wait {
  cursor: wait;
}
.zoom-in {
  cursor: zoom-in;
}
.zoom-out {
  cursor: zoom-out;
}
