:root {
  --sidebar-width: 12rem;
  --header-height: 4rem;
}

.border-rect {
  border-radius: 0 !important;
}

.list-closed:after {
  transform: rotate(-90deg);
  color: rgb(255, 0, 0);
}

.list-open:after {
  color: rgb(6, 255, 27);
}

.allow-rotate:after {
  transition: transform 1.5s cubic-bezier(0.32, -100, 0.7, 100), color 1.5s ease;
}

.header {
  height: var(--header-height);
}

#sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  background-color: aliceblue;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  min-height: 100vh;
  z-index: 500;
  transition: margin-left 0.75s ease;
}

#sidebar.active {
  margin-left: calc(0% - var(--sidebar-width));
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: calc(0% - var(--sidebar-width));
  }

  #sidebar.active {
    margin-left: 0;
  }
}
